@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap');

* {
    margin: 10px;
}

main {
    background-color: rgba(233, 233, 193, 0.377);
    padding: 10px;
    font-family: 'Poppins';
}

h3 {
    font-size: 30px;
    color: rgb(54, 54, 54);
    background-color: rgba(131, 172, 56, 0.521);
}

footer {
    background-color: rgba(167, 139, 172, 0.644);
    font-weight: 700;
    font-size: 16px;
    padding: 10px;
    font-family: 'Poppins';
}

hr {
    border-top: 2px solid rgba(136, 255, 0, 0.623) !important;
}

.div-cotizar {
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.error-prendas {
    padding: 20px;
    text-align: center;
    background-color: rgba(196, 43, 5, 0.664);
    color: whitesmoke;
    border-radius: 12px;
}

button.button.button-outline {
    font-size: x-large !important;
}

button.button.button-outline:active {
    background: rgb(105, 98, 117) !important;
}


.ver-carrito {
    margin-top: 3%;
}
